In [25]:
name = "Jahseh"
address,province = "jl. Cisaat","7413412"
age = 23
scorePython = 85.7
isMarried = False

print("Nama :",name)
print("Alamat :",address)
print("umur :",age)
print("Nilai Pemrograman :",scorePython)
print("Status Menikah :", isMarried)
print("Propinsi :", province)

Nama : Jahseh
Alamat : jl. Cisaat
umur : 23
Nilai Pemrograman : 85.7
Status Menikah : False
Propinsi : 7413412

In [23]:
print("Tipe data <name> :",type(name))
print("Tipe data <address> :",type(address))
print("Tipe data <age> :",type(age))
print("Tipe data <scorePython> :",type(scorePython))
print("Tipe data <isMarried> :",type(isMarried))

Tipe data <name> : <class 'str'>
Tipe data <address> : <class 'str'>
Tipe data <age> : <class 'int'>
Tipe data <scorePython> : <class 'float'>
Tipe data <isMarried> : <class 'bool'>

In [41]:
#Casting / KOnversi Tipe Data
#1. String ke (int,float,boolean)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt + 2,strToFloat,strToBool, sep="_")

#2. int ke (str,float,boolean)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool (age)
print(intToStr, intToFloat, intToBool, sep="_")
#3. Float ke (int, str, boolean)
floatToStr = str(scorePython)
floatToInt = int(scorePython)
floatToBool = bool(scorePython)
print(floatToStr, floatToInt, floatToBool, sep="_")
#4  bool ke (int, str, boolean)
boolToStr = str(isMarried)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
print(boolToStr, boolToInt, boolToFloat, sep="_")

7413414_7413412.0_True
23_23.0_True
85.7_85_True
False_0_0.0

In [43]:
#Tipe data basis bilangan (desimal,biner,octal, hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai desimal :",desimal)
print("Nilai biner :",biner)
print("Nilai octal :",octal)
print("Nilai hexa :",hexa)

print("Nilai biner dari",desimal, ":",bin(desimal))
print("Nilai Octal dari",desimal, ":",oct(desimal))
print("Nilai Hexa dari",desimal, ":",hex(desimal))

Nilai desimal : 500
Nilai biner : 10
Nilai octal : 255
Nilai hexa : 255
Nilai biner dari 500 : 0b111110100
Nilai Octal dari 500 : 0o764
Nilai Hexa dari 500 : 0x1f4

In [45]:
city = "BANDUNG"
length = len(city)
print(city[0])
print(length)
print(city[length-1])

B
7
G

In [79]:
#Tipe data Collection
cities = ["Bandung","Sukabumi","Bogor","Jakarta"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "Bali"
#cities[5] = "Malang" akan meyebabkan error out of range
print(cities)

names = ("Andi","Ferdi","Raihan")
print(names)
print(names[1])
#names[0] = "Dedi" error immutable tuple

studentData = {
    "name" : "Robi",
    "age" : 90000,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "Jawa Barat"
    },
    "isMarried" : True,
    "hobbies" : ["eat", "sleep", "repeat"] 
}

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][0])

studentList = [
    {
    "name" : "Bayu",
    "age" : 9000000,
    "address" : {
        "street" : "Cicaheum",
        "number" : 69,
        "province" : "Jawa Barat"
    },
    "isMarried" : False,
    "hobbies" : ["eat, sleep, repeat"] 
}
]

print(studentList[0]["address"]["province"])

['Bandung', 'Sukabumi', 'Bogor', 'Jakarta']
Bandung
Jakarta
J
a
['Bali', 'Sukabumi', 'Bogor', 'Jakarta']
('Andi', 'Ferdi', 'Raihan')
Ferdi
{'name': 'Robi', 'age': 90000, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['eat', 'sleep', 'repeat']}
90000
Jawa Barat
eat
Jawa Barat

In [91]:
#Konversi dictionary

list_list = [["Name","Andi"],["Age",99999999],["Status",True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("Name","Rudi"),("Address","Bogor")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)


tuple_list = (("Name", "Crocodille"), ("Type", "Reptile"), ("Class", "Mamalia"))
dictListAnimal = dict(tuple_list)
print("dictListAnimal:", dictListAnimal)

tuple_tuple = (("Name", "Whale"), ("Type", "Mamalia"))
dictTupleAnimal = dict(tuple_tuple)
print("dictTupleAnimal:", dictTupleAnimal)


keys = ["vehicle", "brand", "cc"]
values = ["car", "BMW", 999999999]


dictFromLists = dict(zip(keys, values))
print("dictFromLists:", dictFromLists)

{'Name': 'Andi', 'Age': 99999999, 'Status': True}
{'Name': 'Rudi', 'Address': 'Bogor'}
dictListAnimal: {'Name': 'Crocodille', 'Type': 'Reptile', 'Class': 'Mamalia'}
dictTupleAnimal: {'Name': 'Whale', 'Type': 'Mamalia'}
dictFromLists: {'vehicle': 'car', 'brand': 'BMW', 'cc': 999999999}